fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
langgraph
langfuse
pydantic
python-dotenv
slowapi
supabase
tavily-python
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
psycopg[binary]
python-multipart
streamlit
requests
