fastapi
langchain_core
langchain_groq
langfuse
langgraph
pydantic
python-dotenv
slowapi
supabase
tavily_python
langgraph-checkpoint-postgres
psycopg[binary]
langgraph-checkpoint-sqliteuvicorn
python-multipart
langchain
langchain-community
streamlit
requests
